[submodule "Frostic/vendor/spdlog"]
	path = Frostic/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Frostic/vendor/GLFW"]
	path = Frostic/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Frostic/vendor/glm"]
	path = Frostic/vendor/glm
	url = https://github.com/g-truc/glm
